In [1]:
x = 5,11
a, b = x
print(a,b,'\n')

5 11

In [2]:
student_attendence = {'rolf':96,'bob':80,'anne':100}

for student,attendence in student_attendence.items():
    print('{}:{}'.format(student,attendence))

rolf:96
bob:80
anne:100

In [3]:
people = [('bob',42,'mechanic'),('james',24,'artist'),('harry',30,'lecturer')]
for name,age,profession in people:
    print('{n} is {a} years old, working as {p}'.format(n=name,a=age,p=profession))

bob is 42 years old, working as mechanic
james is 24 years old, working as artist
harry is 30 years old, working as lecturer

### _ is used when you don't want to use a value

In [4]:
person = ('bob',42,'mechanic')
name, _, profession = person
print(name,': ',profession)

bob :  mechanic

In [5]:
head, *tail = [1,2,3,4,5]
print(head)
print(tail)

1
[2, 3, 4, 5]

In [6]:
*head, tail = [1,2,3,4,5]
print('\n',head)
print(tail)

 [1, 2, 3, 4]
5